
.contenido{
    width: 940px;
    margin: 0 auto;
}

.titulo{
    color: #0E2954;
}

form label{
    display:block;
    font-size: 20px;
    margin: 0 0 10px;

}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    
}

.enviar{
    width: 30%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #0E2954;
    border:none;
    border-radius: 5px;
    cursor:pointer;
  }
  